@font-face {
    font-family: 'HelveticaNeue MediumCond';
    src: url('HelveticaNeue-MediumCond.woff2') format('woff2'),
        url('HelveticaNeue-MediumCond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue MediumCond';
    src: url('HelveticaNeue-MediumCondObl.woff2') format('woff2'),
        url('HelveticaNeue-MediumCondObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

