.categories{
    position: relative;
    background-image: url(../assets/categories-bg.png);
    background-color: rgb(15, 66, 95);
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:80px;
    padding-bottom: 70px;
}
.categories h2{
    text-align: center;
color:#fff;
}
.org-btn{
    font-family:sans-serif;
    color:#fff;
    border-radius: 2px;
    font-size: 14px;
    background-color: #FF7800;
    border:none;
    padding:16px 24px;
}
.catgories-img img{
    padding-bottom: 20px;
    border-bottom: 3px solid #FF7800;
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) { 

}
@media (max-width: 576px) {
    .categories h2{
    font-size: 40px;
}
}